@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

input,
button {
    font-family: inherit;
}

button {
    cursor: pointer;
}

fieldset {
    border: none;
}

.form-group label {
    display: block;
}